<section class="home text-light min-vh-100 d-flex justify-content-center align-items-center"> 
    <div class="container text-center ">
        <div class="contant mt-5">
            <img src="./../../assets/img/avataaars.svg" class="w-25" alt="avataaars">
            <h1 class="fw-bolder py-2 pt-5 fs-1">START FRAMEWORK</h1>
            <div class="star  text-center m-auto ">
                <i class="fa-solid fa-star fs-4"></i>
            </div> 
            <p class="mt-4 fs-5">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
    
  
</section>