<div class="contact-section min-vh-100 d-flex justify-content-center  ">
    <div class="container text-center">
        <div class="title text-center">
            <h1 class="fw-bolder py-2 pt-5 ">CONATCT SECTION</h1>
            <div class="star  text-center m-auto ">
                <i class="fa-solid fa-star fs-4"></i>
            </div>
        </div>
            <div class="container form-cart w-75  ">
                <input type="text"  name="name" class="form-control " placeholder="userName">
                <input type="number" name="age" class="form-control" placeholder="userAge">
                <input type="email" name="email" class="form-control" placeholder="userEmail">
                <input type="password" name="pass" class="form-control" placeholder="userPassword">
                <button class="btn btn-success ">send Message</button>

            </div>
        
</div>
</div>