<div class="portfolio-section min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        
        <h1 class="fw-bolder py-2 pt-5 ">PORTFOLIO COMPONENT</h1>
        <div class="star  text-center m-auto  ">
            <i class="fa-solid fa-star fs-4"></i>
        </div>
        <div class="row g-4 pb-5 pt-2 ">
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/poert1.png" alt="img" class="w-100 rounded-3">
                    <div class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/port2.png" alt="img" class="w-100 rounded-3">
                    <div  class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/port3.png" alt="img" class="w-100 rounded-3">
                    <div  class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/poert1.png" alt="img" class="w-100 rounded-3">
                    <div  class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/port2.png" alt="img" class="w-100 rounded-3">
                    <div  class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image position-relative">
                    <img src="../../assets/img/port3.png" alt="img" class="w-100 rounded-3">
                    <div  class="layer d-none  h-100 w-100  position-absolute top-0 d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus text-light m-auto "></i>
                    </div>
                </div>
            </div>
           
        </div>



    </div>
</div>


